<div>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home.html">Zenika Ecommerce</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <!-- menu -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="row">

                <!--beer-->
                <!--beer-->
                <!--beer-->
                <!--²-->

                </div>

            </div>

        </div>

    </div>

    <div class="container">

        <hr />

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Zenika ECommerce</p>
                </div>
            </div>
        </footer>

    </div>

</div>