<app-menu [basket]="basket"></app-menu>

<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="row">
        <table class="table" *ngIf="basket.length > 0">
          <thead>
          <tr>
            <th>Produit</th>
            <th>Prix unitaire</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{produit.label}}</td>
            <td>{{produit.price}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div cass="row">
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input [(ngModel)]="customer.name" type="text" class="form-control" id="name" name="name" placeholder="Name" />
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input [(ngModel)]="customer.address" type="text" class="form-control" id="address" name="address" placeholder="Address" />
          </div>
          <div class="form-group">
            <label for="creditcard">Credit Card</label>
            <input [(ngModel)]="customer.creditCard" type="text" class="form-control" id="creditcard" name="creditcard  " placeholder="Credit Card" />
          </div>
          <button (click)="validerCommande()" class="btn btn-primary">Passer commande</button>
        </form>

      </div>

    </div>

  </div>

</div>
