<div class="col-sm-4 col-lg-4 col-md-4">
  <div class='thumbnail'>
    <img src="{{beer.image}}" alt="" />
    <div class="caption">
      <h4 class="pull-right">{{beer.price | currency}}</h4>
      <h4>
        <span>{{beer.label}}</span>
      </h4>
      <p>{{beer.description}}</p>
    </div>
    <div class="ratings">
      <p>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
      </p>
      <button (click)="onAddBeer()" type="button" class="pull-right btn btn-primary" aria-label="Ajoutez au Panier">Ajouter</button>
    </div>
  </div>
</div>
